<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-lg-6">
			<h2>Contact Us!</h2>

			<%= flash[:notice] %>

			<%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
				<br>
				<br>
				<div class="form-group">
					<%= form.label :name, class: "sr-only" %>
					<%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
				</div>
				<div class="form-group">
					<%= form.label :email, class: "sr-only" %>
					<%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
				</div>
				<div class="form-group">
					<%= form.label :message, class: "sr-only" %>
					<%= form.text_area :message, class: "form-control", placeholder: "Enter Message", size: "60x6" %>
				</div>
				<div class="d-flex flex-row-reverse">
					<%= form.submit "Send", class: "form_label btn-primary pull-right" %>
				</div>
			<% end %>
			<hr>
			<br>
			<h4 class="lead">If you prefer, write us at <a href="mailto:info@zrostorage.org">info@zrostorage.org</a>.</h4>
		</div>
	</div>
</div>