
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Contact</h1>
			<h3>We're here, and want to help!</h3>

			<%= flash[:notice] %>

			<%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
				<div class="row">					
					<div class="form-group">
						<%= form.label :name %>
						<%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<%= form.label :email %>
						<%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<%= form.label :message %>
						<%= form.text_area :message, class: "form-control", placeholder: "Enter Message", size: "60x6" %>
					</div>
				</div>
				<%= form.submit "Send", class: "form_label" %>
			<% end %>
			<br>
			<br>
			<hr>
			<br>
			<h4 class="lead">Or write us at <a href="mailto:zrostorage@clayman.org">zrostorage@clayman.org</a>.</p>
		</div>
	</div>
</div>