<div class="row">
	<% @orders = @orders.select do |order| %>
		<% order.user_id == current_user || current_user.admin == true %>
	<% end %>
	<% @orders.each do |order| %>
		<div class="col-sm-2 col-md-4">
			<div class="card bg-light mb-3" style="max-width: 18rem;">
			  <div class="card-header">Order <%= order.id %>: <%= link_to order.product.name, order.product %></div>
			  <div class="card-body">
			    <h5 class="card-title"><%= order.product.description %></h5>
			    <p class="card-text">$ <%= order.product.price %></p>
			    <p><%= link_to 'Show', order %></p>
			  </div>
			</div>
		</div><!-- /col -->
	<% end %>
	<% if @orders == {} %>
		<h4>You don't have any orders yet.</h4>
	<% end %>
</div>