<p id="notice"><%= notice %></p>

<% cache(cache_key_for_products) do %>
  <% render @products %>
<% end %>

<h1>Products</h1>

<table class="table table-hover table-responsive">
  <caption class="sr-only">List of products</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Image url</th>
      <th scope="col">Price</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= number_to_currency(product.price, :unit => "$") %></td>        
        <td><%= link_to 'Show', product %></td>
        <% if user_signed_in? && current_user.admin == true %>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<!--
<div class="container-fluid">
  <div class="row">
    <%= render @products %>
  </div>
</div>
<br>
<%= link_to 'New Product', new_product_path %>
-->
