<% @product.viewed! %>

<% cache @product do %>


<div class="row" data-product-id="<%= @product.id %>">
  <div class="col-sm-12">
    <div class="thumbnail">
      <%= image_tag(@product.image_url, width: "350", alt: @product.description, class: "img-zoom", data_zoom_image: @product.image_url) %>
      <div class="caption">
        <h4><%= @product.name %></h4>
        <p>
          <%= @product.description %><br>
        </p>
        <% if @product.comments.count != 0 %>
          <p>Avg. Rating: <div class="rated", id="average-rating", data-score="<%= @product.average_rating %>"></div></p>
        <% else %>
          <h5>Be the first to review!</h5>
          <% if signed_in? == false %>
            <h5>Just sign in first!</h5>
          <% end %>
        <% end %>
        <p>Price: <%= number_to_currency(@product.price, :unit => "$") %></p>
          <%= form_with(url: '/payments/create') do |form| %>
            <%= render partial: "shared/stripe_checkout_button" %>
            <%= hidden_field_tag(:product_id, @product.id) %>
          <% end %>

        <%= render 'new_comment' %>

      </div>
    </div>
  </div>
</div>

<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

<%= render 'comments' %>
<%= will_paginate @comments %>

<script>feather.replace();</script>

<% end %>

<h6>
  Views: 
  <span class="badge">
    <%= @product.views %>
  </span>
</h6>