<!DOCTYPE html>
<html>
	<head>
 		<title>ZRO Storage</title>


		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= csrf_meta_tags %>
  </head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/#">ZRO Storage</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<%= link_to "Home", root_path, class: "nav-item nav-link active" %>
					<%= link_to "About", simple_pages_about_path, class: "nav-item nav-link" %>
					<%= link_to "Log-in", simple_pages_login_path, class: "nav-item, nav-link" %>
					<%= link_to "Contact", simple_pages_contact_path, class: "nav-item nav-link" %>
				</div>
			</div>
		</nav>
	<br>

	<%= yield %>
	
	<br>
	<footer align="center">
		&copy; 2018 ZRO Storage
	</footer>
	</body>
</html>
